.home_container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(25, 15, 41);
}

.bg {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.home_content {
    display: flex;
    flex-direction: column;
}

.hero_title {
    position: absolute;
    top: 40%;
    left: 10%;
}

.hero_title h1 {
    font-size: 100px;
    width: 100%;
    color: rgb(255, 255, 255);
    line-height: 1;
}

.sections {
    padding: 4rem 2rem;
    background-color: rgb(27, 6, 76);
    color: whitesmoke;
    text-align: center;
    font-size: 25px;
}

.section {
    margin-bottom: 3rem;
    background-image: linear-gradient(299deg, rgb(65, 105, 225), rgb(56, 66, 255), rgb(26, 67, 191), rgb(0, 255, 249));
    padding: 4rem 2rem;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

.section h2 {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    margin-bottom: 2rem; /* Increased margin for better spacing */
}

.section_content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem; /* Increased gap for better spacing */
}

.option {
    background-image: linear-gradient(299deg, rgb(65, 105, 225), rgb(56, 66, 255), rgb(26, 67, 191), rgb(0, 255, 249));
    padding: 2rem;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.option h3 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.option p {
    font-size: 1rem;
}

@media (max-width: 750px) {
    .home_container {
        width: 100%;
    }

    .bg {
        width: 100%;
    }

    .hero_title {
        width: 100%;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .hero_title h1 {
        font-size: 85px;
    }

    .hero_title p {
        font-size: 20px;
        margin-left: 0;
    }
}

@media (max-width: 450px) {
    .hero_title h1 {
        font-size: 70px;
    }

    .hero_title p {
        font-size: 18px;
        margin-left: 0;
    }
}

@media (max-width: 350px) {
    .hero_title h1 {
        font-size: 60px;
    }

    .hero_title p {
        font-size: 15px;
        margin-left: 0;
    }
}
